{{define "head"}}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/pure-min.css">
    <link rel="stylesheet" href="../../public/css/grids-responsive-min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/chartist.css">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <script src="../../public/js/vue.min.js" type="text/javascript"></script>
    <script src="../../public/js/script.js" type="text/javascript"></script>
    <script src="../../public/js/chartist.js" type="text/javascript"></script>
</head>
{{end}}
