{{define "header"}}
<header>
    <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable nav-menu">
        <a href="/" class="pure-menu-link pure-menu-heading">Burger</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link">Utilisateurs</a></li>
            <li class="pure-menu-item"><a href="/burgers" class="pure-menu-link">Nos burgers</a></li>
            <li class="pure-menu-item"><a href="/cities" class="pure-menu-link">Villes servies</a></li>
        </ul>
    </nav>
</header>
{{end}}